* {
    margin: auto;
    margin: 5px, 5px, 5px, 5px;
  }

 .hello {
     background-repeat: no-repeat;
     opacity: 0.1;
  }
a {
    text-decoration: none; !important
}
.image {
    height: 120px;
    width: 120px;
    border-radius: 50%;  
    margin-top: -100px;
}
h1 {
   
    text-align: center;
    color: rgba(21, 50, 43, 0.6);
    
}
h2{
    color: rgb(6, 81, 56);
}

.icon {
    padding-top: 10px;
padding-left: 10px;
}
.hello {
    opacity: 0.5;
}
.blog {
    height: 100px;
    width: 200px;
    display: inline;
    margin-left: 3px;
    border-color: 1px solid black;
}

ul {
    display: inline;
    }
iframe {
    height: 20%;
    width: 200px;
   
}    
p {
    color: rgb(7, 55, 30);
     padding: 10px;
}
#header {
    background-color: rgba(64, 0, 255, 0.3);
}
span {
    float: right;
    display: flex;
    flex-wrap: wrap;
}

.flatCard{
    width:80%;
    margin-left: 10%;
    height:200px;
    background-color:rgba(116, 105, 121, 0.3);
    display:flex;
}

#imgDiv{
    width:35%;
    height:100%;
    margin-left: 0;
}

#imgDiv img{
    height:100%;
    width:100%
}

#textDiv{
    width:60%;
    margin-left: 3%;
    height:100%;
    overflow: scroll;
}
.card  img{
    width:100%;
    height:200px
}
li{
    margin-right: 20px;
}
